body{
    background-color: rgb(25, 215, 60);
    display: flex;
    justify-content: center;
    align-items: center; 
}

.innerclass{
    background-color: rgb(248, 245, 245);
    height:500px ;
    width: 500px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
}

.text{
    padding-left: 230px;;
}



.innerclass2{
    background: linear-gradient(180deg, rgba(22,238,28,1) 28%, rgba(240,246,241,1) 52%, rgba(22,238,28,1) 73%);
    height:350px;
    width: 270px;
    position: relative;
    left:-80px;
    display: flex;
    flex-direction: column;
    justify-content: end;
   
    box-shadow: 9px 10px 17px -1px rgba(0,0,0,0.61);
    margin-top: 50px;

}

.innerclass3{
    background-color: rgb(224, 219, 219);
    height:70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.items{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
   
}

.items1:hover{
    border-style: solid;
    height:50px;
  
    background-color: rgb(133, 249, 133);
    cursor:pointer;
    border-color: rgba(14, 157, 3, 0.665);
}



.items{
    height:40px;
   
}
.items1 img{
    height: 100%;
    
}
.items1{
    border-style: solid;
    border-color: rgb(160, 157, 157);
}

.image{
    position: relative;
    left: -70px;
}

.button{
    height:35px;
    width: 150px;
    background-color: rgb(34, 151, 42);
}
.button:hover{
    cursor:pointer;
    background-color: rgb(246, 105, 62);
    height:40px;
    width:160px;
}